.till {
    background-color: black;
    color: white;
}
.biography {
    background-color: black;
    color: white;
}
.rammstein {
    background-color: black;
    color: white;
}
.lindemann {
    background-color: black;
    color: white;
}
.links {
    background-color: black;
    color: white;
}

.text{
    color: black;              
    padding: 1px;
    width: 1200px auto;
    margin: 1px;
}