* {
    position: relative;
    margin: 0;
    padding: 0;
}

.header {
    background: #FE1A19;
    height: 40px;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.container {
    display: flex;
    justify-content: space-between;
    background: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 50px;
}
.container-one {
    box-sizing: border-box;
    width: 400px;
    border: 5px solid #E5E000;
    border-radius: 30px;
    font-size: 20px;
    padding: 33px;
    margin: 0 25px;
}
.footer {
    background: #FE1A19;
    height: 40px;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
}